h2 {
	font-family: 'ralewaylight', Tahoma, calibri;
	font-size: 2em;
	margin: 0;
	text-align: center;
	color: #31849B;
	text-transform:uppercase;
}

h3 {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0.5em 0 0.3em 0;
	padding: 0;
}

.safhe {
	background-color: #DBDEDE;
	padding: 2em;
}
body {
	background-color: #DBDEDE;
}
.safhe p {
	text-align: justify;
	margin:0;
	padding: 0;
	line-height: 1.6em;
	color: #34495E;
	font-family: tahoma, 'ralewaylight', calibri;
	font-size:1.2em;
}
.safhe p:first-of-type {
	text-indent:0;
}
			
#meaning {
	position: absolute;
	padding: 0.3em 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	direction: rtl;
	text-align: right;
	line-height: 1em;
	background-color: #95A5A6;
	color: #404D5B;
	font-family: "b_mitraregular", tahoma;
	font-weight: bold;
	font-size: 1.3em;
	top:0;
	left:0;
	opacity: 0;
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	outline:none;
	z-index: 1000;
	white-space: nowrap;
}

#content span.selected {
	background-color: #efefef;
}
